[project]
	description = Example install of MediaWiki for OpenShift
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Karsten Wade (quaid)
[access "refs/for/refs/*"]
	read = group user/Karsten Wade (quaid)
	push = group user/Karsten Wade (quaid)
	label-Code-Review = -2..+2 group user/Karsten Wade (quaid)
	label-Verified = -1..+1 group user/Karsten Wade (quaid)
	rebase = group user/Karsten Wade (quaid)
	removeReviewer = group user/Karsten Wade (quaid)
	submit = group user/Karsten Wade (quaid)
[access "refs/heads/*"]
	read = group user/Karsten Wade (quaid)
	create = group user/Karsten Wade (quaid)
	push = +force group user/Karsten Wade (quaid)
	pushMerge = group user/Karsten Wade (quaid)
[access "refs/tags/*"]
	push = group user/Karsten Wade (quaid)
	push = +force group user/Karsten Wade (quaid)
